[submodule "test_exp_with_inspec/test_exp_with_inspec/learn-inspec/inspec-on-aws"]
	path = test_exp_with_inspec/test_exp_with_inspec/learn-inspec/inspec-on-aws
	url = https://github.com/learn-chef/inspec-on-aws
